<style>
    footer{
        color:white;
        background-color: crimson;
        position: fixed;
        bottom: 0;
        height: 40px;
        width: 100%;
        text-align: center;
    }
    p{
        text-align: center;
    }
</style>
<br>

<footer>
   
      &copy;www.airway.com  &nbsp;
     <!-- <a class="fa fa-hand-o-up" routerLink="#">AboutUs</a> &nbsp; 
     <a class="fa fa-address-book" routerLink="#">ContactUs</a> &nbsp;  -->
     <a class="fa fa-telegram">airway777@gmail.com</a>
  
</footer>
