<style>
    header{background-color: #f6f87d;}
</style>

<header>
    <!-- <a routerLink="/menshome/mensshoes" >mens Section!</a> &nbsp; -->
    <span style="font-family: cursive;">Men's Section</span>&nbsp;
    <a routerLink="/menshome/mensshoes">Shoes</a> &nbsp;
    <a routerLink="/menshome/mensshorts">Shorts</a> &nbsp;
    <a routerLink="/menshome/menstshirts">T-Shirts</a>
</header>

 
 <!-- <img  style="width: 300px; width: 100%;" src="../../assets/mens1.webp">  -->
 <router-outlet></router-outlet>
  


