


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <header  style="background-color: #f6f87d;">
                <!-- <a routerLink="/menshome/mensshoes" >mens Section!</a> &nbsp; -->
                <span style="font-family: cursive;">Airways Flights</span>&nbsp; 
                <a routerLink="/airlines/flightsearch">SearchFlights</a>&nbsp;      
                <a routerLink="/airlines/availableflights">allFlights</a> &nbsp;                 
            </header>
        </div>    
    </div>

    <div class="row">
        <div class="col-lg-12">
        <img style="height: 150px; width:100%;" src="../../../assets/plane1.jpg">
    </div>
 </div>

 
    <div class="row">
    <div class="col-lg-2" style="font-family: cursive;color:#e33116; background-color: white;border-radius: 20px; text-align: center;">
        <br>
        <img style="height: 150px; border-radius: 10px;" src="../../../assets/side1.webp">
        <br>
        <p  >To fly we have to have resistance. Maya Lin
            Until you spread your wings, you'll have no idea how far you can fly.            
            To most people sky is the limit. To those who love aviation, sky is home.</p>
        <img  style="height:  150px; border-radius: 20px;" src="../../../assets/side2.webp">
        <br><br><br>
    </div>
    <div class="col-lg-10">
        <br>
        <router-outlet></router-outlet>
    </div>
    </div>  

</div>