<div class="container-fluiid">
    <br>
    <div class="row">
        <div class=" col-lg-4">
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">Trendy Sports Running Shoes For Men </h5>
                  <img class="card-img-top" src="../../assets/s1.webp" alt="Card image cap">
                  <p class="card-text">Bank Offer10% off on HDFC Bank Credit and Debit Card Full Swipe Trxns,up to ₹500.On orders of ₹5,000 and aboveT&C

                    Bank Offer10% off on HDFC Bank Credit and Debit Card EMI Trxns, up to ₹1,000. On orders of ₹5,000 and aboveT&C</p>
                    <a href="#" class="btn btn-primary fa fa-cart-arrow-down"> Add to Cart </a>
                </div>
              </div>
        </div>
        <div class=" col-lg-4">
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">World Wear Footwear</h5>
                  <img class="card-img-top" src="../../assets/s2.webp" alt="Card image cap">
                  <p class="card-text">  Bank Offer10% off on HDFC Bank Credit and Debit Card EMI Trxns, up to ₹1,000. On orders of ₹5,000 and aboveT&C</p>
                  <a href="#" class="btn btn-primary fa fa-cart-arrow-down"> Add to Cart </a>
                </div>
              </div>
        </div>
        <div class=" col-lg-4">
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">BIRDE</h5>
                  <img class="card-img-top" src="../../assets/s3.webp" alt="Card image cap">
                  <p class="card-text">Special PriceGet extra 10% off (price inclusive of cashback/coupon)T&C   Bank Offer10% off on HDFC Bank Credit and Debit Card EMI Trxns, up to ₹1,000. </p>
                  <a href="#" class="btn btn-primary fa fa-cart-arrow-down"> Add to Cart </a>
                </div>
              </div>
        </div>
     </div>
    
</div>